* {
    margin : 0 ;
    padding: 0;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

header  div {
    display: flex;

}

#logo {
    width: 130px;
    height: 50px;
}


#lists p {
    color: white;
    cursor: pointer;
}


#intro {
    background-image: url(https://s3.eu-central-1.amazonaws.com/act.omegapos.com/OmegaCloud/1000/omenu/mir_1.jpg);
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: center center;
    height: 52vh;
}

#buttons   {
    height: 43vh;
    display: flex; 
    align-items: flex-end   ;
    column-gap: 0.8rem;
    margin-left: 10rem;
}